<section class="footer">
  {{{copyright}}}
  <p>For further assistance visit the <a class="link" href="https://developer.yuneec.com" target="_blank" rel="external">Yuneec Developer Site</a>.</p>
</section>
